<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Verificar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Verificar</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h1>Histórico de viagens</h1>
    <P> <strong>Nome motorista:</strong><br>Isaias Santana <br><strong>Contato:</strong> 12 974011729 (WhatsApp)</P>
    <hr>
    <p><strong>Dia fixo:</strong> Domingo<br><strong>Horário:</strong> 07h20 (levar)<br></p>
    <hr>
    <p><strong>Dia de revezamento</strong> Domingo (volta/buscar) <br> <strong>Ultima vez: </strong> <br>
    <strong>Próxima vez: </strong><br>
    <strong>Próximas vezes: </strong></p>
    <br>
    <p><strong>Nome dos casdinhers:</strong> <br>
    Nycollas Kurt Santana <br>
    Isabella <br>
    Willian Miguel <br>
    Geovanna</p>
  </div>
</ion-content>
